<header>
    <div class="container">
<!--           <input id="pac-input" class="controls" type="text" placeholder="Search Box">
          <div id="heatmap-canvas"></div> -->
          <%= render "/heatmaps/zillow" %>
    </div>
</header>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">More Details</h2>
                <h3 class="section-subheading text-muted">Click on the map to show property values; Move the marker around to reveal yearly history.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-8">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <%= render "/heatmaps/proxy" %>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Search History</h4>
                <div class="text-muted search_history">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">Why we wrote an app to show housing price?</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <!-- <img class="img-circle img-responsive" src="img/about/1.jpg" alt=""> -->
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2014</h4>
                                <h4 class="subheading">Our Humble Beginnings</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Alameda county put more than 200 public data online, not only it make the operation public and tranparent, but it can be the based of better future life.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <!-- <img class="img-circle img-responsive" src="img/about/2.jpg" alt=""> -->
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>March 2015</h4>
                                <h4 class="subheading">acApps - Alameda County Apps Challenge 2015</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">A hackathon is called by the county government, hoping developers find ways to make use of such open data in order to improve our live.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <!-- <img class="img-circle img-responsive" src="img/about/3.jpg" alt=""> -->
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2015</h4>
                                <h4 class="subheading">Team formation</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">After graduation from Devboot Camp, two cohor mates decided to devote what them learned, formed a team, study the data and plan for the pitch and the app.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <!-- <img class="img-circle img-responsive" src="img/about/4.jpg" alt=""> -->
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2015</h4>
                                <h4 class="subheading">Our app works!</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">After a whole week's data preparation, we found the best framwork for location limiting query, applied to our model and finished the app for you to visualize closed to two million housing price records in San Francisco and Alameda County Assessor's Office.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>More
                                <br>to
                                <br>come!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted">Honorably SF Fiddler Crabs 2015.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="team-member">
                    <img src="https://avatars2.githubusercontent.com/u/8908273?v=3&s=150" class="img-responsive img-circle" alt="">
                    <h4>Jack Lin</h4>
                    <p class="text-muted">Backend developer focusing on data analysis</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-2">
                <div class="team-member">
                    <img src="https://avatars3.githubusercontent.com/u/3360621?v=3&s=150" class="img-responsive img-circle" alt="">
                    <h4>Yumiko Xi Huang</h4>
                    <p class="text-muted">Great Marketer & Full Stack Developer</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">Please give us more suggestions to improve our app, thanks for visiting!</p>
            </div>
        </div>
    </div>
</section>